<refactor-app-button [options]="{ icon: 'my-icon.png', iconAlt: 'My Icon', iconPosition: 'before', loading: false }">
  Begin
</refactor-app-button>
<br>
<refactor-app-button [options]="{ icon: 'my-icon.png', iconAlt: 'My Icon', iconPosition: 'before', loading: true }">
  Reload
</refactor-app-button>
<br>
<refactor-app-button [options]="{ icon: 'my-icon.png', iconAlt: 'My Icon', iconPosition: 'after', loading: false }">
  Final
</refactor-app-button>

<br>
<h4>Dropdown component by ChatGpt:</h4>
<app-dropdown></app-dropdown>

<br>
<app-button-chat-gpt [options]="{ icon: 'my-icon.png', iconAlt: 'My Icon', iconPosition: 'after', loading: false }">
  Click me
</app-button-chat-gpt>

